{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="row">
            <p class="activities-page">Activities</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="foto-organisasi" src="{% static 'image\sponsor.jpg' %}" alt="Sponsor COMPFEST">
            </div>
            <div class="col-md-6">
                <p class="nama-organisasi">COMPFEST</p>
                <p class="jabatan">Staff of Sponsorship</p>
                <p class="deskripsi-jabatan">Partnering, negotiating, and sealing deals with national
                        and multinational companies for the event</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="foto-organisasi" src="{% static 'image\psdm.jpg' %}" alt="PSDM BEM Fasilkom UI">
            </div>
            <div class="col-md-6">
                <p class="nama-organisasi">BEM Fasilkom</p>
                <p class="jabatan">Staff of Human Resource Development</p>
                <p class="deskripsi-jabatan">Maintaining internal relations for the organization, and
                        being the person in charge for BEM Gathering, 
                        an event of appraisal and festivity for the members</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="foto-organisasi" src="{% static 'image\cgt-in-action.jpg' %}" alt="CGT in Action">
            </div>
            <div class="col-md-6">
                <p class="nama-organisasi">CGT in Action</p>
                <p class="jabatan">Staff of Event</p>
                <p class="deskripsi-jabatan">Made concepts for many Computers Get Together (CGT) events 
                    and directed the event backstage</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="foto-organisasi" src="{% static 'image\wisgan.jpg' %}" alt="Wisuda Ganjill">
            </div>
            <div class="col-md-6">
                <p class="nama-organisasi">Wisuda Ganjil</p>
                <p class="jabatan">Staff of Event</p>
                <p class="deskripsi-jabatan">Made concepts for the faculty's graduation and directed the events backstage</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="foto-organisasi" src="{% static 'image\sospro.jpg' %}" alt="Social Project">
            </div>
            <div class="col-md-6">
                <p class="nama-organisasi">Social Project</p>
                <p class="jabatan">Staff of Event</p>
                <p class="deskripsi-jabatan">Made concepts for the Computer Science Social Project 2018 
                    and directed the events backstage</p>
            </div>
        </div> 
     </div>

{% endblock %}