{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="schedule">
            <p class="create-schedule">Create Schedule</p>
            <form class="css" action="{% url 'schedule_create' %}" method="post">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-sm-8">
                            <!-- {% for fields in form %}
                                {{ fields.label_tag }}
                                    <br>
                                {{ fields }}
                            {% endfor %} -->
                            {{form.as_p}}
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'schedule' %}"><button type="button" style="background-color: rgb(223, 79, 79)" class = "btn btn-primary">Cancel</button></a>
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                    
            </form>  
            
            
        </div>

{% endblock %}