{% extends 'base.html' %}

{% load static %}
    
{% block content %}

        <div class="row">
            <p class="profile-page">Education</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="logo-sekolah" src="{% static 'image\universitas.png' %}" alt="Universitas Indonesia">
                <p class="nama-sekolah">Universitas Indonesia<br>Fakultas Ilmu Komputer<br><br>2018-present</p>

            </div>
            <div class="col-md-4">
                <img class="logo-sekolah" src="{% static 'image\sman8.jpg' %}" alt="SMAN 8 Jakarta">
                <p class="nama-sekolah">SMA Negeri 8 Jakarta<br><br>2015-2018</p>
            </div>
            <div class="col-md-4">
                <img class="logo-sekolah" src="{% static 'image\smpn115.png' %}" alt="SMPN 115 Jakarta">
                <p class="nama-sekolah">SMP Negeri 115 Jakarta<br><br>2012-2015</p>
            </div>
        </div>
    </div>

{% endblock %}