{% extends 'base.html' %}

{% load static %}

<!-- {% block section %}
<div class="first-section">
{% endblock %} -->

{% block content %}
        <div class="text-center" id="hello">
                <p>Hello,</p>
            </div>
            <div>
                <p class="text-center" id="introduction">I'm Raihan</p>
            </div>
            <p class="iam ml-5">I am a computer science undergraduate <br>at University of Indonesia</p>
            <button type="button" class="btn btn-light ml-5" onclick='window.location.href="/profile"' id="tombol">Know me better</button>

    <div class="row" class="second-section">
        <div class="row">
            <div class="col-md-6">
                <p class="works_ive_done ml-5">Works I've Done</p>
                <p class="i_design ml-5">I design apps and website interfaces </p>
                <button type="button" class="btn btn-light ml-5" onclick='window.location.href="/works"' id="tombol">More works</button>
            </div>
            <div class="col-md-6">
                <img class="works-show" src="{% static 'image\Works Show.jpg' %}" alt="Works Show">
            </div>
        </div>
    </div>

    <div class="row" class="third-section" >
        <div class="row">
            <div class="col-md-6">
                <img class="foto_cgt" src="{% static 'image\Acara CGT.jpg' %}" alt="CGT in Action">
            </div>
            <div class="col-md-6">
                <p class="my_activities">My Activity</p>
                <p class="judul-organisasi">COMPFEST</p>
                <p class="jab-organisasi">Staff of Sponsorship</p>

                <p class="judul-organisasi">CGT in Action</p>
                <p class="jab-organisasi">Staff of Event</p>

                <p class="judul-organisasi">BEM Fasilkom UI</p>
                <p class="jab-organisasi">Human Resource Development</p>
            </div>
        </div>
    </div>

    <div class="row" class="fourth-section">
        <div class="row">
            <div class="col-md-6">
                <p class="contact_me">Contact Me</p>
                <div class="row">
                    <img class="email" src="{% static 'image\mail.png' %}" alt="Email"></a>
                    <p class="detail-kontak">raihan.fikriansyah@gmail.com</p>
                </div>

                <div class="row">
                    <a href="https://www.linkedin.com/in/raihanfkr/"><img class="linkedin" src="{% static 'image\linked in.png' %}" alt="LinkedIn"></a>
                    <p class="detail-kontak">linkedin.com/in/raihanfkr</p>
                </div>
                
                <div class="row">
                    <a href="https://dribbble.com/raihanfkr"><img class="dribbble" src="{% static 'image\dribbble.png' %}" alt="Dribbble"></a>
                    <p class="detail-kontak">dribbble.com/raihanfkr</p>
                </div>

                <div class="row">
                    <a href="https://www.instagram.com/raihanfkr/"><img class="instagram" src="{% static 'image\instagram.png' %}" alt="Instagram"></a>
                    <p class="detail-kontak">instagram.com/raihanfkr</p>
                </div>

                <div class="row">
                    <a href="https://twitter.com/freakyansyah"><img class="twitter" src="{% static 'image\twitter.png' %}" alt="Twitter"></a>
                    <p class="detail-kontak">twitter.com/freakyansyah</p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="myself" src="{% static 'image\myself1.jpg' %}" alt="Muhamad Raihan Fikriansyah">
            </div>
        </div>
    </div>

{% endblock %}