{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="row">
            <p class="profile-page">Profile</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="myself1" src="{% static 'image\aku.jpg' %}" alt="Muhamad Raihan Fikriansyah">
            </div>
            <div class="col-md-4">
                <p class="about-me">I am an open-minded person, 
                        with an IT background and have experiences 
                        with event handling and managerial skills. 
                        I have good communication skill and thrive well 
                        in group of people. I constantly push myself 
                        to experience and learn new skills as I love challenges.</p>
                <button type="button" class="btn btn-light" onclick='window.location.href="/CV.pdf"' id="tombol">Download CV</button>
                <br>
            </div>
            <div class="col-md-4">
                <p class="skills">Skills</p>
                <p class="skillset">
                    - Basic Programming (Python and Java) <br>
                    - English (Conversational) <br>
                    - Basic Photoshop Design <br>
                    - Basic Adobe Illustrator Design <br>
                    - Figma Design <br>
                    - Public Relations</p>
            </div>
        </div>
    </div>
{% endblock %}