{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="schedule">
            <div class = "row">
                <p class="my-schedule">My Schedule</p>
            </div>
                <!-- <a href="{% url 'schedule' %}"></a>  -->
                
                {% for schedule in schedules %}
                    
                <div class="row" id="geser" >
                    <div class="col-md-2">
                        <p>{{ schedule.category }}</p>
                    </div>
                    <div class="col-md-4">
                        <b>{{ schedule.activity }}</b>
                    </div>
                    <div class="col-md-2">
                        <p>{{ schedule.date.date }}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ schedule.time}}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ schedule.place }}</p>        
                    </div>
                </div>
                {% endfor %}
            

            <div class = 'row'>
                <div class = 'col-md-12'>
                <div class = 'form-group'>
                    <a href="{% url 'schedule_delete' %}"><button type="button" style="background-color: rgb(223, 79, 79)" class = "btn btn-primary">Clear</button></a>
                    <a href="{% url 'schedule_create' %}"><button type="button" class="btn btn-primary" >Create</button></a>
                </div>
                </div>
            </div>
        </div>
{% endblock %}