{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="row">
            <p class="works-page">Works</p>
        </div>

        <div class="row">
            <p class ="judul-works">On My Way</p>
        </div>
        <div class="row">
            <img class="works-image" src="{% static 'image\Frame 1.jpg' %}" alt="On My Way">
        </div>

        <div class="row">
            <p class="judul-works">CS SCELE</p>
        </div class="row">
        <div class="row">
            <img class="works-image" src="{% static 'image\Frame.jpg' %}" alt="CS Scele">
        </div>

        <div class="row">
            <p class="judul-works">Online Book Store</p>
        </div>
        <div class="row">
            <img class="works-image" src="{% static 'image\Daily UI 3.jpg' %}" alt="Online Book Store">
        </div>

        <div class="row">
            <p class="judul-works">Fresh Food</p>
        </div>
        <div clas="row">
            <img class="works-image" src="{% static 'image\Daily UI 12.jpg' %}" alt="Fresh Food">
        </div>

        <div class="row">
            <div class="col-md-4">
                <p class="judul-works-tengah">Music Player</p>
                <img class="works-image-tengah" src="{% static 'image\Daily UI 9.jpg' %}" alt="Music Player">
            </div>
            <div class="col-md-4">
                <p class="judul-works-tengah">My Coupon</p>
                <img class="works-image-tengah" src="{% static 'image\Daily UI 10.jpg' %}" alt="My Coupon">
            </div>
            <div class="col-md-4">
                <p class="judul-works-tengah">Credit Card</p>
                <img class="works-image-tengah" src="{% static 'image\Daily UI 2.jpg' %}" alt="Credit Card">
            </div>
        </div>
    </div>
{% endblock %}