body{
    background-color: #0A0A0A;
    color: white;
}

/* First Section */
.first-section{
    background-image: url('/static/image/Sand.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1260px 800px;
}

#navbar{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    
    font-size: 30px;
    line-height: 50px;
    margin-top: 50px;
}

#navbar a {
    color: white;
    padding: 5px 20px;
    
}

/* #current {
    color: black !important;
    border: 1px solid white;
    background-color: white;
   
} */

#hello{
    padding-top: 110px;

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
}

#introduction{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
}

.iam{
    margin-top: 100px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

#tombol{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
}

/* Second Section */

.second-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100vh;
}

.works_ive_done{
    margin-top: 200px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;

    text-align: left;
}

.i_design{

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-align: justify;
}

.works-show{
    display: block;
    margin: auto;
    margin-top: 90px;
    
    height: 410px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Third Section */

.third-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100vh;
}

.foto_cgt{
    
    display: block;
    margin: auto;
    margin-top: 90px;

    height: 250px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.my_activities{
    margin-top: 70px;
    margin-left: 70px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
  
    text-align: justify;
}

.judul-organisasi{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.jab-organisasi{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

/* Fourth Section */

.fourth-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.myself{
    height: 500px;
    
}

.contact_me{
    margin-top: 70px;
    margin-left: 70px;
    
    width: 320px;
    height: 80px;
    

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;

    text-align: justify;
}

.email{
    margin: 5px 40px;
    width: 33px;
    height: 33px;
}

.linkedin{
    margin: 5px 44px;
    width: 30px;
    height: 26px;
}

.dribbble{
    margin: 5px 40px;
    width: 30px;
    height: 30px;

}

.instagram{
    margin: 5px 40px;
    width: 34px;
    height: 35px;

}

.twitter{
    margin: 5px 44px;
    width: 27px;
    height: 23px;

}

.detail-kontak{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}
 

/* Profile Page */

.profile-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100vh;
}

.profile-page{
    margin-top: 70px;
    margin-left: 90px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
}

.myself1{
    margin-left: 80px;
    width: 220px;
    height: 300px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.about-me{
    margin-right: 40px;
    margin-left: 70px;
    margin-top: 30px;
    text-align: justify;

}

.skills{
    margin-top: 30px;
    margin-left: 70px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 30px;
}

.skillset{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

/* Works Page */

.works-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100vh;
}

.works-page{
    margin-top: 70px;
    margin-left: 90px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
}

.judul-works{
    
    margin-top: 90px;
    margin-left: 90px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.works-image{
    margin-left: 90px;
    height: 250px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.judul-works-tengah{
    
    margin-top: 90px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.works-image-tengah{
    display: block;
    margin: auto;

    height: 250px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Activities Page */

.activities-section{
    background-color: #0A0A0A;
    width: 100%;
    height: 100%;
}

.activities-page{
    margin-top: 70px;
    margin-left: 90px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
}

.foto-organisasi{
    display: block;
    margin: auto;
    margin-top: 90px;

    height: 250px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.nama-organisasi{
    margin-left: 70px;
    margin-top: 90px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.jabatan{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.deskripsi-jabatan{
    margin-left: 70px;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

/* Education Page */

.logo-sekolah{
    display: block;
    margin: auto;

    height: 200px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.nama-sekolah{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
